# Virtual env
.venv/

# Pywikibot
apicache/
throttle.ctrl
*.lwp
user-config.py

# Logs & output
logs/
*.log
output_*.csv

# data files
rijks_uris.csv

# Python cache
__pycache__/
*.pyc

# OS junk
.DS_Store

# Env / IDE
.env
.vscode/